* {
  margin: 0;
  padding: 0;  
}
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}
nav {
    display: flex;
    padding: 0 10px;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    top: 0;
    position: sticky;
    background-color: black;
    z-index: 1;
}
.logo img {
  height: 50px;
}
nav .menu {
  width: 100%;
}
nav .menu .links {
display: flex;
justify-content: flex-end;
}
.menu .links li {
  list-style: none;
}
.menu .links li.mission,
.menu .links li.tea {
  margin-right: 1.5rem;
}
li a {
  color: seashell;
  text-decoration: underline;
  opacity: 0.9;
}
header {
 width: 100%;
 display: flex;
 justify-content: center;
}
.container {
  background-image: url("img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;  
}
.title {
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}
h2, h4 {
  padding: 10px 0;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica;
}
main {
  margin: 0 auto;
  padding: 5rem 0 2rem 0;
  width: 1200px;
}
.title.center {
  width:1000px;
  margin: 0 auto;
}
.tea-wrapper {
  display: flex;
  padding: 1rem 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.square {
  padding: 10px;
  text-align: center;
}
.square img {
  height: 200px;
  width: 300px;
  object-fit: contain;
}
.square.right {
  padding: 10px 10px 10px 0;
}
.square.left {
  padding: 10px 0 10px 10px;
}
.locations {
  margin: 0 auto;  
  height: 500px;
  width: 1200px;
  padding: 2rem 0 0 0;
}
.locations img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.h2 h2 {
  padding: 0;
  font-family: Helvetica;
  opacity: 0.9;
}
.location-wrapper {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  position: relative;
  bottom: 30rem;
}
.box-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.box {
  width: 300px;
  text-align: center;
  background-color: black;
  margin: 0 20px;
  padding: 10px 0;
}
.h2 {
  margin-bottom: 15px;
}
.box h3,
.box h4 {
  opacity: 0.9;
  margin-bottom: 5px;
  font-family: Helvetica;
}
.contact-info {
  height: 200px;
  text-align: center;
}
.contact-info h5 {
  padding: 1rem;
  margin-top: 1rem;
  opacity: 0.9;
}
footer {
  margin: 5px 20px 0;
  padding: 0 0 2rem 0;
}